{% extends 'base.twig' %}

{% block title %}Page not found - Flight skeleton{% endblock %}

{% block content %}
<div class="jumbotron">
    <h2 class="text-mutted">404 - Page not found!</h2>
</div>
{% endblock %}