<!DOCTYPE HTML>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link href="/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link href="/css/slider.css" rel="stylesheet" type="text/css" media="all"/>
{% block styles %}{% endblock %}

<script type="text/javascript" src="/js/jquery-1.9.0.min.js"></script> 
<script type="text/javascript" src="/js/move-top.js"></script>
<script type="text/javascript" src="/js/easing.js"></script>
<script type="text/javascript" src="/js/jquery.nivo.slider.js"></script>

</head>
<body>
<header class="header">{% block header %}{% endblock %}</header>
<section class="main"><div class="wrap">{% block main %}{% endblock %}</div></section>
<footer class="footer"><div class="wrap">{% block footer %}	
	     <div class="section group">
				<div class="col_1_of_4 span_1_of_4">
						<h4>Information</h4>
						<ul>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Customer Service</a></li>
						<li><a href="#">Advanced Search</a></li>
						<li><a href="#">Orders and Returns</a></li>
						<li><a href="contact.html">Contact Us</a></li>
						</ul>
					</div>
				<div class="col_1_of_4 span_1_of_4">
					<h4>Why buy from us</h4>
						<ul>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Customer Service</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="contact.html">Site Map</a></li>
						<li><a href="#">Search Terms</a></li>
						</ul>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<h4>My account</h4>
						<ul>
							<li><a href="contact.html">Sign In</a></li>
							<li><a href="index.html">View Cart</a></li>
							<li><a href="#">My Wishlist</a></li>
							<li><a href="#">Track My Order</a></li>
							<li><a href="contact.html">Help</a></li>
						</ul>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<h4>Contact</h4>
						<ul>
							<li><span>+91-123-456789</span></li>
							<li><span>+00-123-000000</span></li>
						</ul>
						<div class="social-icons">
							<h4>Follow Us</h4>
					   		  <ul>
							      <li><a href="#" target="_blank"><img src="/images/facebook.png" alt="" /></a></li>
							      <li><a href="#" target="_blank"><img src="/images/twitter.png" alt="" /></a></li>
							      <li><a href="#" target="_blank"><img src="/images/skype.png" alt="" /> </a></li>
							      <li><a href="#" target="_blank"> <img src="/images/linkedin.png" alt="" /></a></li>
							      <div class="clear"></div>
						     </ul>
   	 					</div>
				</div>
			</div>
			 <div class="copy_right">
				<p>Company Name © All rights Reseverd | Design by  <a href="http://w3layouts.com">W3Layouts</a> </p>
		   </div>
{% endblock %}</div></footer>

<a href="#" id="toTop"><span id="toTopHover"> </span></a>

{% block scripts %}{% endblock %}
</body>
</html>