{% extends 'base.twig' %}

{% block title %}Page:{{page.name}} - Flight skeleton{% endblock %}

{% block content %}
		<h1>{{page.name}}</h1>
		<h3>Preview text</h3><hr>
		<blockquote>{{ page.preview_text }}</blockquote>
		<h3>Detail text</h3><hr>
		{{ page.detail_text | raw }}
{% endblock %}